* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #548687;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.container {
    height: 70vh;
    width: 70vh;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    /* border: 2px solid blue; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin
}

.box {
    height: 18vmin;
    width: 18vmin;
    /* border: 2px solid gold; */
    border-radius: 1rem;
    font-size: 8vmin;
    color: #b0413e;
    background-color: #ffffc7;
}

#reset {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
}

#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
}
#msg{
    color: #ffffc7;
    font-size: 8vmin;
}
.msg-container{
    height: 30vmin;
}
.hide{
    display: none;
}